{% extends 'myapp/base.html' %}

{% block contents %}
    <div class="username">
        {{ request.user }}
    </div>

    <form method="post" class="todoform">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">登録</button>
    </form>

    <div class="todo-container">
        {% for item in todo %}
            <div class="todo-content">
                <div class="todo-title">
                    {{ item.title }} : {{ item.created_at |date:"Y/m/d f"}}
                </div>
                <div class="todo-detail">
                    {{ item.contents }}
                </div>
                <a href="{% url 'myapp:delete' item.pk %}" class="btn btn-primary btn-sm todo-btn">完了</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}