{% extends 'myapp/base.html' %}
{% block contents %}
    <div class="board">
        <!--
        <div class="row">
            <p>login_user : {{ request.user}}</p>
        </div>
        -->
            {% if request.user.is_authenticated %}
                <a href="{% url 'myapp:index' %}" class="btn btn-primary btn-lg d-block">サインイン</a>
            {% else %}
                <a href="{% url 'myapp:signin' %}" class="btn btn-primary btn-lg d-block">サインイン</a>
            {% endif %}
            <a href="{% url 'myapp:signup' %}" class="btn btn-primary btn-lg d-block">サインアップ</a>
        </div>
    </div>

{% endblock %}

